<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
      <div class="row align-items-center my-5">
        <div class="card img-fluid">
          <%= image_tag(image_path('bg-banner.jpg')) %>
          <div class="card-img-overlay">
            <h1 class="card-title" style = "text-align: center; padding: 70px 0;">InnoMed</h1>
            <p class="card-text" style = "text-align: center;">Are you broken? Let us fix you.</p>
            <p style= "text-align: center;">
              <%=link_to "Book Appointment", new_appointment_path, class:"btn btn-primary"%>
            </p>
          </div>
        </div>
      </div>

    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Manage your health & your care, all in one place.</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Appointments</h2>
            <p class="card-text">Book & manage appointments with GPs, Consultatants, Nurses & Midwives </p>
          </div>
          <div class="card-footer">
            <%=link_to "Book Appointment Now", new_appointment_path, class:"btn btn-primary btn-sm"%>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Prescriptions</h2>
            <p class="card-text">Purchase & manage your prescriptions - no need to leave your home! All prescriptions prescribed to you by our Doctors electronically transferred to you!</p>
          </div>
          <div class="card-footer">
            <%=link_to "Manage Prescriptions", new_prescription_path, class:"btn btn-primary btn-sm"%>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Concerned about your symptoms?</h2>
            <p class="card-text">Complete the form and your symptoms will be reviewed by a medical professional.</p>
          </div>
          <div class="card-footer">
             <%=link_to "Message us", new_contact_path, class:"btn btn-primary btn-sm"%>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
