<h1>Prescriptions</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Drug</th>
      <th>Quantity</th>
      <th>Diagnosis</th>
      <th>Doctor</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.drug %></td>
        <td><%= prescription.quantity %></td>
        <td><%= prescription.diagnosis %></td>
        <td><%= prescription.doctor.full_name %></td>
        <td><%= prescription.patient.full_name %></td>
        <td><%= link_to 'View', prescription %></td>
        <% if current_user.is_doctor? %>
          <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
          <td><%= link_to 'Destroy', prescription_path(prescription), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription', new_prescription_path if current_user.is_doctor? %>
