<p>
  <strong>Drug:</strong>
  <%= @prescription.drug %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @prescription.quantity %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @prescription.doctor.full_name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @prescription.patient.full_name %> 
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @prescription.diagnosis %> 
</p>

<p>
  <strong>Notes:</strong>
  <%= @prescription.notes %> 
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
