<p id="notice"><%= notice %></p>

<p>
  <strong>Drug:</strong>
  <%= @prescription.drug %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @prescription.quantity %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @prescription.doctor.first_name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @prescription.patient.firstname %> 
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
