<style>
.odd {
    color: #fff;
    background-color: #3182CE;
}

.even {
    background-color: #A0AEC0;
}
</style>
<p>
  <strong>Name:</strong>
  <%= @consultation.name %>
</p>

<%= form_with(model: @consultation, local: true) do |form| %>
  <%= render "post_form", form: form %>

<div class="row">
<% @consultation.posts.each do |post| %>
  <% if post.attachment.attached? %>
  <div class="col-sm-4">
    <%= image_tag post.attachment.variant(resize: "100x100", monochrome: true, rotate: "-90") %>
    <%= image_tag post.attachment.variant(resize: "200x200") %>
    <br />
  </div>
  <% end %>
<% end %>
</div>

<br />
  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
<br />
<% appointment = Appointment.find_by(consultation_id: @consultation.id) %>
<% if appointment.present? %>
  <%= link_to "View Appointment", appointment_path(appointment), class: "btn btn-outline-success btn-sm" %>
<% else %>
  <%= link_to "Make Appointment", new_appointment_path(consultation_id: @consultation), class: "btn btn-outline-success btn-sm" %>
<% end %>
<%= link_to 'Edit', edit_consultation_path(@consultation), class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'Back', consultations_path, class: "btn btn-outline-danger btn-sm" %>