<h1 id="page_title">Contact us by filling out the form below!</h1>


<div class="symptoms">
    <%= form_for @contact do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <br>
    
    <%= f.label :email %>
    <%= f.text_field :email, required: true %>
    
    <br>
    
    <%= f.label :message %>
    <%= f.text_field :message, required: true %>
    
    <div class="hidden">
        
    <%= f.label :nickname %>
    <%= f.text_field :nickname, hint: 'leave this field blank' %>
    </div>
    <br>
    <%= f.submit 'Send Message', class: "button" %>
    
    <% end %>
</div>
