<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @patient.surname %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @patient.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @patient.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @patient.county %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @patient.contact_number %>
</p>

<p>
  <strong>Password:</strong>
  <%= @patient.password %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
