<p id="notice"><%= notice %></p>

<p>
  <strong>Access level:</strong>
  <%= @doctor.access_level %>
</p>

<p>
  <strong>First name:</strong>
  <%= @doctor.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @doctor.surname %>
</p>

<p>
  <strong>Qualifications:</strong>
  <%= @doctor.qualifications %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @doctor.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @doctor.address_line2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @doctor.mobile_no %>
</p>

<p>
  <strong>Office no:</strong>
  <%= @doctor.office_no %>
</p>

<p>
  <strong>Password:</strong>
  <%= @doctor.password %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
