<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :patient_id %>
    <% if current_user.is_doctor? %>
      <%= form.collection_select :patient_id, User.all, :id, :full_name, prompt: "Pick Patient" %>
    <% else %>
      <%= current_user.full_name %>
      <%= form.hidden_field :patient_id, value: current_user.id %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.collection_select :doctor_id, User.where(is_doctor: true), :id, :full_name, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time, order: [:day, :month, :year], minute_step: 15 %>
  </div>

  <% unless @appointment.paid # cant update fee after its been paid %>
    <div class="field">
      <% if current_user.is_doctor? %>
        <%= form.label :fee_amount %>
        <%= form.text_field :fee_amount, value: Appointment::DEFAULT_FEE %>
      <% else %>
        <%= form.hidden_field :fee_amount, value: Appointment::DEFAULT_FEE %>
      <% end %>
    </div>
  <% end %>
  
  <%= form.hidden_field :consultation_id, value: params[:consultation_id] %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
