<p id="notice"><%= notice %></p>

<p>
  <strong>Patients:</strong>
  <%= @appointment.patient.firstname %>
</p>

<p>
  <strong>Doctors:</strong>
  <%= @appointment.doctor.first_name %>
</p>

<p>
  <strong>Appointment time:</strong>
  <%= @appointment.appointment_time %>
</p>

<p>
  <strong>Appointment address:</strong>
  <%= @appointment.appointment_address %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
