<nav class="navbar navbar-expand-lg navbar-light bg-#325C6A">
  <%= image_tag(image_path('InnoMed.jpg')) %>
  <%= link_to "Home", root_path, class: "navbar" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Appointments", appointments_path, class: "nav-link" %> <!--e-->
          </li>
          <li class="nav-item">
            <%= link_to "Prescriptions", prescriptions_path, class: "nav-link" %> <!--e-->
          </li>
          <li class="nav-item">
            <%= link_to "Consultation", consultations_path, class: "nav-link" %> <!--e-->
          </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>

        <% if current_user.is_doctor? %>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "Admin - Appointments", admin_appointments_path, class: "nav-link" %> <!--e-->
              </li>
              <li class="nav-item">
                <%= link_to "Admin - Users", admin_users_path, class: "nav-link" %> <!--e-->
              </li>
            </ul>
          </div>
        <% end %>
        
        <div class="nav-link">
          Signed in as: <%= current_user.full_name %> (<%= link_to "Logout", destroy_user_session_path, :method => :delete %>)
        </div>
        <% if current_user.is_doctor? %>
        <div class="nav-link">
            Access Level: Admin
        </div>
        <div class="nav-link">
            See my appointments: <%= link_to "Doctor's Appointments", doctors_path %>
        </div>
        <% end %>

      <% else %>
        <li class="nav-item">
          <%= link_to "Create Account", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>