<!DOCTYPE html>
<html>
  <head>
    <title>InnoMedApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
      <ul>
        <li><a href="/items">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/Admin">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
